@model RentaCarEntities.Event

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<h4>Aradığınız aracın Yakıt tipi,Marka veya Modelini yazarak arama yapabilirsiniz</h4>

    @using (Ajax.BeginForm("Filtre", "Event", new AjaxOptions()


{
    HttpMethod = "POST",
    UpdateTargetId = "filtre",
    OnFailure = "alert('hata meydana geldi');"

}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
            <div>
                <input type="text" id="searchText" name="searchText" />
                <br />
                <input type="submit" value="Listele" />
            </div>
       




    }




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}*@
