@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ana Sayfa</h2>
<div><table>
    
    <tbody>

        <tr>
            <td>
                atatat
            </td>
            dasda
        </tr>


    </tbody>
    
    </table></div>



